@media screen and (min-width: 480px){        

 body {
  overflow: hidden;       
}         

img {
         display: block;
         margin: auto;
}


/***************************
VIDEO
***************************/
         
video#bgvid {
         position: fixed;
         right: 0;
         bottom: 0;
         min-width: 100%;
         min-height: 100%;
         width: auto;
         height: auto;
         z-index: -100;       
         background: url(polina.jpg) no-repeat;
         background-size: cover;
}

/***************************
BUTTONS
***************************/

#h1-1 {
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-size: 100px;
    margin-top: -60px;
    color: white;
    font-weight: 100;
}

#h1-2 {
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: 200;
    margin-top: -50px;
}

#h1-3 {
    font-family: Guild of Professional Actors;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    float: left;
    margin-left: 800px;
    color: #dca7a7;
}

#h1-3:hover {
    color: #ce8483;
    transition: 0.7s;
}

#h1-4 {
    font-family: Guild of Professional Actors;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    float: right;
    margin-right: 800px;
    color: #dca7a7;
}

#h1-4:hover {
    color: #ce8483;
    transition: 0.7s;
}

#arrow {
margin-left: 830px;
list-style: none;
margin-top: -80px;
height: 50px;
width: 40px;
}

#arrow:hover {
background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(255, 0, 0, 0.180), 
      rgba(255, 0, 0, 0.180)
    );
         
border-radius: 360px;;
}
         
}




