/*csslint ids: false, box-model: false*/
/***********************************
GENERAL
***********************************/

body {
         background-color: black;
         font-family: 'Play',
         sans-serif;
         
}

h1 {
         color: blue;
}

h2 {
         font-size: 0.75em;
         font-weight: normal;
         /*1st value is for top. 2nd value is for left and right. 3rd vaule is for the bottom*/
         margin: -5px 0 0;
}

h3 {
margin: 0 0 1em 0;
}

a {
         text-decoration: none;
}

p {
         color: aqua;
        text-align: center;
         
}



/***********************************
HEADER
***********************************/

header {
         float: left;
         margin: 0 0 30px 0;
         padding: 5px 0 0 0;
         width: 100%;
}


/***********************************
NAVIGATION
***********************************/

nav {
         padding: 10px 0;
         text-align: center;
}

nav ul {
         list-style: none;
         margin: 0 10px;
         padding: 10px 0;
}

nav li {
         display: inline-block;
}

nav a {
         font-weight: 800;
         padding: 15px 10px;
}


/***********************************
FOOTER
***********************************/

footer {
         clear: both;
         color: #ccc;
         font-size: 0.75em;
          padding-top: 50px;
         text-align: center;
         
}

.social-media-icon {
         display: block;
         height: 20px;
         margin: 0 5px;
         margin: auto;
         width: 20px;
}

#logo {
         color: red;
         font-size: 40px;
         margin: 0;
         text-align: center;
}

img {
         display: block;
         margin: auto;
}

a {
         color: white;
}

header {
    background-color: burlywood;     
}

nav a,
nav a:visted {
         color: white;
}

nav .selected,
nav a:hover {
color: brown;
transition: 1s;
}


/***************************
GALLERY
***************************/

#gallery {
         list-style: none;
         margin: 0;
         padding: 0;
}

#gallery li a p {
         margin: 0;
         padding: 5%;
         background-color:
}

img {
         max-width: 100%;
}

#gallery li {
         background-color: lightblue;;
         color: greenyellow;
         float: left;
         margin: 2.5%;
         width: 45%;
}


/***********************************
ABOUT ME PAGE
***********************************/

.profile-photo {
border-radius: 15%;
display: block;
max-width: 0 auto 30px;
}

/***********************************
Contat PAGE
***********************************/
.contact-info {
font-size: 0.9em;
list-style: none;
margin: 0;
padding: 0;
}

.contact-info a {
background-repeat: no-repeat;
background-size: 20px 20px;
display: block;
margin: 0 0 10px;
min-height: 20px;
padding: 0 0 0 30px;
}

.contact-info .mail a {
background-image: url('https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Mail.png');
}

.contact-info .twitter a {
background-image: url('http://cdn.business2community.com/wp-content/uploads/2015/07/Twitter-icon.png.png');
}


/***************************
MEDIA QUERIE
***************************/
/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px){
         #primary {
         float: left;
         width: 50%;
         }
         #secondary {
         float: right;
         width: 40%;
         }
         
/*THREE COLUMN LAYOUT PORTFOLIO*/         
         #gallery li {
         width: 28.3333%;
         }
         #gallery l1:nth-child(4n){
         clear: left;
         }
         /*ABOUT PAGE*/
         .profile-photo {
         float: left;
         margin: 0 5% 80px 0;
         }
}

@media screen and (min-width: 660px){
/*NAV*/
         nav {
         background: none;
         float: right;
         font-size: 1.125em;
         margin-right: 5%;
         margin-top: -45px;
         text-align: right;
         width: 45%;
         }
         #logo {
         float: left;
         margin-left: 5%;
         text-align: left;
         width: 45%;
         }
         
         h1 {
         font-size: 2.5em;
         }
         h2 {
         font-size: .825em;
         margin-bottom: 300px;
         }
         header {
         border-bottom: 5px solid black;
         margin-bottom: 60px;
         }
}


#initials {
border: 2px dotted lightcoral;
border-radius: 360px;
height: 50px;
margin-top: 10px;
width: 50px;

}
#welltab {
         background: lightgreen;
         border: 1px solid black;
         border: none;
         border-radius: 0px;
         border-radius: 0px;
         border-top: 5px solid lightgrey;
         display: block;
         height: 105px;
         margin: auto;
         margin-top: -100px;
         width: 850px;
         
}

#nav-bar1 {
background: cornflowerblue ;
border-bottom: 5px solid lightblue;
display: block;
margin: auto;
width: 100%;
}

#h1-left {
float: left;
font-size: 15px;
margin-left: 500px;
margin-top: -30;
}

#h1-right {
float: right;
font-size: 15px;
margin-right: 485px;
margin-top: -30;
}


/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
animation: stroke 6s infinite linear;
  background: #111;
  background-size: .2em 100%;
fill: none;
font-size: 90px;
padding: 3000px;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  font: 14.5em/1 Open Sans, 
  text-transform: uppercase;
  margin: 0;
}

.text:nth-child(5n + 1) {
-webkit-animation-delay: -1.2s;
 animation-delay: -1.2s;
  stroke: #F2385A;
}
.text:nth-child(5n + 2) {
   -webkit-animation-delay: -2.4s;
         animation-delay: -2.4s;
  stroke: #F5A503;
}

.text:nth-child(5n + 3) {
 -webkit-animation-delay: -3.6s;
animation-delay: -3.6s;
  stroke: #E9F1DF;

}

.text:nth-child(5n + 4) {
-webkit-animation-delay: -4.8s;
         animation-delay: -4.8s;
  stroke: #56D9CD;
}

.text:nth-child(5n + 5) {
-webkit-animation-delay: -6s;
          animation-delay: -6s;
  stroke: #3AA1BF;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/* Other styles */


svg {
height: 100%;
margin-bottom: -2000px;
margin-top: -100px;
width: 100%;

}

#jumbotron2 {
margin-top: 450px;
background-color: lightgreen;
 border-top: 5px solid lightgrey;
height: 200px;
}

#about-h1 {
font-family: 'Exo', sans-serif;
text-align: center;
margin-top: -20px;
font-weight: 100;
color: white;
text-decoration: inherit;
text-decoration-color: transparent;
}

#about-h1:hover {
text-decoration-color: lightgray;
}

#about-p {
font-family: 'Exo', sans-serif;
text-align: center;
color: black;
         font-weight: 400;
         margin-top: -30px;
}

#welltab2 {
         width: 850px;
         display: block;
         margin: auto;
         margin-top: 90px;
         background: lightblue;
            border: 1px solid black;
         border: none;
         border-radius: 0px;
         height: 105px;
         border-top: 5px solid lightgrey;
         border-radius: 0px;
         
}

#jumbotron3 {
margin-top: 0px;
background-color: lightblue;
height: 890px;
width: 1444px;
margin-left: -200px;
border-radius: 0px;
}

section {
margin-top: 50px;
margin-right: -100px;
}

#wrapper-img {
height: 205px;
width: 3010px;
border: 5px solid lightgrey;

}

#wrapper-p {
color: black;
font-size: 20px;
background-color: lightgreen;
border: 5px solid lightgrey;
}

#welltab3 {
         width: 850px;
         display: block;
         margin: auto;
         margin-top: -105px;
         margin-bottom: -140px;
         background: lightpink;
            border: 1px solid black;
         border: none;
         border-radius: 0px;
         height: 205px;
         border-top: 5px solid lightgrey;
         border-radius: 0px;
         
}

#jumbotron4 {
margin-top: 60px;
background-color: lightpink;
height: 550px;
width: 1444px;
margin-left: -200px;
border-radius: 0px;
}


.form-style-1 {
         margin-left: 300px;
         margin-top: 40px;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}

#social-icons1 {
height: 128px;
width: 128px;
margin-top: -250px;
margin-bottom: -300px;
margin-left: 750px;
}

#social-icons1:hover {
height: 128px;
width: 128px;
margin-top: -250;
margin-bottom: -300px;
margin-left: 750px;
background: lightcoral;
border-radius: 360px;
}

#button {
background-color: red;
float: right;
margin-top: -30px;
margin-right: 30px;
}

#button2 {
background-color: yellow;
float: right;
margin-top: -30px;
margin-right: 85px;
}

#button3 {
background-color: black;
color: white;
float: right;
margin-top: -30px;
margin-right: 155px;
}

#submit-button {
font-size: 25px;
border: 4px solid lightsteelblue;
width: 80px;
background: lightblue;
font-family: Calibri;
}

#submit-button:hover {
font-size: 25px;
border: 4px solid lightsteelblue;
width: 80px;
background: lightskyblue;
font-family: Calibri;
text-decoration: none;
}

#myModal2 {
margin-top: 1600;
margin-bottom: 100px;
margin-left: 576;
margin-right: 576;
}